{
  "parser": "@typescript-eslint/parser",
  "extends": ["plugin:@typescript-eslint/recommended"],
  "plugins": ["@typescript-eslint", "@stylistic/ts"],
  "parserOptions": { "ecmaVersion": 2018, "sourceType": "module" },
  "rules": {
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/ban-types": "error",
    "@stylistic/ts/comma-dangle": ["error", "never"],
    "@stylistic/ts/quotes": ["error", "single"],
    "indent": ["error", 2]
  }
}
